RewriteEngine on
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php

#<Files "admin">
#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /path/to/.htpasswd
#require valid-user
#</Files>
